/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


/*  css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

html{

  /* kaydırmalar yumuşak gerçekleşir*/

    scroll-behavior: smooth;  
}

body {
    font-family: 'poppins', sans-serif;
    padding-top: 70px;
    background-color: #e2e7e6;
}

.border {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 5px;
}

header {
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 10000;
}

header .logo {
    width: 100px;
    height: 60px;
    display: grid;
    place-items: center;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header .address .top {
    font-size: 14px;
    font-weight: 200;
    color: rgb(210, 210, 210);
}

header .search {
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    height: 40px;
    border-radius: 4px;
}

header .search select {
    width: 80px;
    text-align: center;
    border-radius: 6px 0 0 6px;
}

header .search input {
    width: 100%;
    text-indent: 10px;
    /* sadece yazıları etkileyen padding benzeri yapı bunun yerine paddingte kullanabilirdik*/
}

header .search button {
    width: 45px;
    display: grid;
    place-items: center;
    background-color: #fabd68;
    border-radius: 0 6px 6px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 5px;
}

header nav .navigation-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border: 2px solid transparent;
    transition: all 0.2s;
}

header nav .navigation-item:hover {
    border-color: white;
}

header nav .navigation-item span {
    font-size: 12px;
}

header nav .navigation-item p {
    font-size: 14px;
    font-weight: bold;
}

/* sepet içeren div */

header nav .navigation-cart {
    flex-direction: row;
    align-items: center;
}

header nav .navigation-cart i {
    font-size: 24px;
}


header nav .navigation-cart span {
    font-size: 16px;
    font-weight: bold;
}




/*          panel       */

.panel {
    background-color: #212f3d;
    display: flex;
    color: white;
    align-items: center;
    padding: 5px 30px;
    height: 40px;
    justify-content: space-between;
}

.panel .left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.panel .left .all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.panel .left i {
    font-size: 12px;
}

.panel .left .panel-options {
    display: flex;
    gap: 20px;
}

.panel p {
    font-size: 14px;
}

.panel .right {
    font-weight: bold;
}


/* hero */

.hero{
    background-image: url(./images/hero_image.jpg);
    height: 350px;
    background-size: cover;
    background-position: center end;

    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-text{
    background-color: white;
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hero-text a{
    color: #92bdc6;
}

/* categories */

.categories, .discounts{
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.categories .category-box, .discounts .discount-box{
    background-color: white;
    padding: 20px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.199);
    transition: ALL .3s;
    /* ribbon'u isteğimize göre konumlandırmak için bunu verdik*/
    position: relative;
}

.categories .category-box h2{
    margin-left: 15px;
}

.categories .category-box:hover{
    transform: translatey(-5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.408);
}


.categories .category-box .category-img{
    width: 100%;
    height: 300px;
    margin-top: 12px;
}

.categories .category-box .category-img img{
       width: 100%;
    height: 100%;
    border-radius: 10px;
}

.categories .category-box button{
  background-color: transparent;
  margin-top: 10px;
  padding: 8px 16px;
  border: 2px solid transparent;
  cursor: pointer;
  color: #92bdc6;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.categories .category-box button:hover{
    border-color: #92bdc6;
}

.opportunities{
    text-align: center;
}



/* DISCOUNTS */


.discount-box .image{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.discount-box .image img{
    max-width: 300px;
    width: 100%;
    height: 100%;
}

.discount-box:first-child{
    animation: border 3s infinite;
}

.discount-box .content p{
font-size: 15px;
color: crimson;
margin: 10px 0;
}

.discount-box .content p:last-child{
    font-size: 24px;
    font-weight: bold;
    color: rgb(34, 34, 34);
}


.discount-box .ribbon{
    position: absolute;
    top: -10px;
    right: -10px;
    height: 50px;
    width: 50px;
    background-color: red;
    color: white;
    box-shadow: 0 5px 9px rgba(0,0,0, 0.7);

    display: grid;
    place-items: center;
    border-radius: 50%;

    animation: bounce 1.5s infinite;
}

.go-top{
    display: block;
    background-color: #364759;
    text-align: center;
    padding: 10px;
    color: white;
}



/*  footer*/


footer{
    background-color: #212f3d;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 20px;
}

footer .footer-box h3{
    font-size: 18px;
}

footer .footer-box ul{
    margin-top: 10px;
}

footer .footer-box ul li a{
    color: rgba(200, 200, 200, 0.8);
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease;
}

footer .footer-box ul li a:hover{
    color: #fabd68;
}






/* ANİMASYONLAR*/

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
       transform: translateY(-7px);
    }

    50%{
         transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes border {
    0% {
        border: 2px solid transparent;
    }

    10% {
        border: 2px solid crimson;
    }

    30% {
        border: 2px solid transparent;
    }
    100% {
        border: 2px solid transparent;
    }
}




/* * responsive tasarım */

/*  1200px*/
@media (max-width: 1200px) {

    header .navigation-item,
    header .address {
        display: none !important;
    }

    header .search {
        max-width: 400px;
    }

    .panel .left .panel-options{
        display: none;
    }

    .hero{
        background-size: 130vw calc(100vh - 110px);
        background-position: 70% 0%;
    }

    .hero-text{
        flex-direction: column;
        text-align: center;
    }
}